*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container{
    padding: 0px 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    img{
        width: auto;
        height: 2rem;
    }
}

nav ul{
    display: flex;
    gap:20px;
}

nav ul li{
    list-style: none;
    padding: 15px;
}

nav ul li a:hover{
    color: #FF4300;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:last-child{
    background-color: black;
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    a{
        color: white;
    }
}

.logo svg{
    height: 32px;
    width: auto;
    fill: #ff6933;
}

.sidebar{
    display: none;
}

.app{
    display: none;
}

/* hero section */
.hero{
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
    url("https://prod-website-backend-uploads.s3.eu-west-1.amazonaws.com/hero_image_1_5dd50208c8.jpeg?auto=format&fit=max&w=3840&q=100");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 120px;
}

.hero-text{
    color: white;
    padding-bottom: 100px;
    h1{
        font-size: 80px;
        line-height: 80px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p{
        font-size: 19px;
        line-height: 30px;
        font-weight: 600;
        padding-right: 700px ;
        margin-bottom: 40px;
    }
    a{
        display: block;
        text-decoration: none;
        color: white;
        background-color: #FF4300;
        padding: 20px 35px;
        border-radius: 50px;
        width: 250px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 50px;
        text-align: center;
    }
}

.num {
    /* margin-bottom: 400px; */
    p{
        font-size: 20px;
        line-height: 32px;
    }
    img{
    width: 4%;
    }
}

.partners{
    p{
        color: white;
        margin-bottom: 50px;
        font-weight: 400;
    }

    img{
        padding: 30px 0;
    }
    .uber{
        margin-right: 50px;
    }
}

.steps-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;
}

.explanation{
    color: #2C2926;
    h1{font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    padding-right:100px ;
    margin-bottom: 20px;
    }
    p{
        line-height: 28px;
        font-weight: 400;
        padding-right: 50px;
    }
    span{
        color: #FF4300;
    }
    a{
        display: block;
        text-decoration: none;
        color: white;
        background-color: #2C2926;
        padding: 15px 20px;
        border-radius: 50px;
        width: 150px;
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
}

.plans{
    background: url();
    display: flex;
    justify-content: space-between;
    color: #FF4300;
}

.cards{
    h4{
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
}

.vid{
    position: relative;
    video{
        width: 100%;

    }
}

.overlay-text{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding: 200px 40px;
    h1{
        font-size: 48px;
        line-height: 52px;
        padding-right: 900px;
        margin-bottom: 50px;
    }

    span{
        color: #FF4300;
    }
    p{
        line-height: 20px;
        font-weight: 600;
        /* width: 50%; */
        padding-right: 600px;
        margin-bottom: 10px;
    }
    a{
        display: block;
        text-decoration: none;
        color: white;
        background-color: #FF4300;
        padding: 15px 20px;
        border-radius: 50px;
        width: 100px;
        font-weight: 700;
        text-align: center;
        margin-top: 50px;
    }
}

.name{
    color: #94928C;
    margin-bottom: 50px;
}

.explore{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #2C2926;
    padding: 200px 0;
    h1{
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 20px;
    }
    span{
        color: #FF4300;
    }
    p{
        line-height: 28px;
        font-weight: 400;
    }
    a{
        display: block;
        text-decoration: none;
        color: white;
        background-color: #2C2926;
        padding: 15px 35px;
        border-radius: 50px;
        width: 150px;
        font-weight: 700;
        text-align: center;
        margin-top: 40px;
    }
}

.text{
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #2C2926;
}

.props{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 30px;
    margin-bottom: 100px;
    img{
        width: 100px;
        background-color: whites;
        border-radius: 20px;
        border: 5px solid white;
        box-shadow: 0 8px 20px rgba(0, 0,0, 0.15);
    }
}

.impact{
    background-color: #2C2926;
    text-align: center;
    color: white;
    padding: 100px;
}

.impact-text1{
    font-size: 25px;
    line-height: 52px;
    padding: 70px 0;
}

.impact-card{
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.impact-pop{
    h1{
        font-size: 80px;
        line-height: 80px;
        margin-top: 30px;
    }
    h3{
        font-size: 28px;
        line-height: 32px;
        margin-top: 40px;
    }
    p{
        color: #999791;
        padding: 0 11%;
        line-height: 28px;
        margin-top: 20px;
    }
}

.mockup-card{
    position: relative;
    background-color: #FF4300;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    margin: 300px 0;
    height: 400px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.mockup-img{
    img{
        position: absolute;
        bottom: -50%;
    left: 10px;
        width: 500px;
    }
}

.mockup-text{
        padding: 100px 0;
        padding-right: 100px;
        width: 38%;
        color: white;
    h1{
        font-size: 48px;
        line-height: 52px;
    }
    p{
        line-height: 28px;
        font-weight: 400;
    }
    img{
        width: 200px;
        border-radius: 1px solid white;
    }
}

.info{
    background-color: #2C2926;
    padding: 50px 0;
}

.info-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials{
   img{ margin: 15px;
   }
}

.info-card{
    display: flex;
    justify-content: space-between;
    ul{
        list-style: none;
        display: flex;
    }
    li{
        margin: 20px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

.info-text ul li a:hover{
    color: #FF4300;
}

.info-img{
    margin-bottom: 30px;
    margin-right: 30px;
}
.info-img svg{
    width: 150px;
    fill: #ff6933;
}

.region{
    text-align: end;
    margin-top: -40px;
    font-weight: 400;
    p{
        font-size: 12px;
        line-height: 14px;
        color: #797872;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 18px;
        margin-right: 60px;
    }
}

.region a:hover{
    color: #FF4300;
}

.copyright{
    background-color: #2C2926;
    .CR-page{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
}

.CR{
    color: #999791;
    font-size: 14px;
    line-height: 24px;
}

.CR-list ul{
    font-size: 14px;
    line-height: 24px;
    display: flex;
    color: #999791;
    li{
        margin: 0 20px;
    }
    a{
        text-decoration: none;
        color: #999791;;
    }
}


@media screen and (max-width:720px) {

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 20px 10px;
        .logo{
            margin: 0;
            width: 70%;
            svg{
                width: 100px;
            }
        }
        .app{
            margin: 0;
            display: block;
            text-align: center;
            a{
                padding: 5px;
            }
            
        }
        .sidebar{
            margin: 0;
            text-align: center;
            display: block;
            width: 10%;
            img{
                width: 30px;
            }
        }
    }
    nav .list{
        display: none;
    }
    .container{
        padding: 0 10px;
    }
    .hero{
        padding: 20px 0;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 550px;
    }
    .hero-text{
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        padding-bottom: 0;
    h1{
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        line-height: 28px;
        padding-right: 0px;
        margin-bottom: 40px;
    }
    a{
        padding: 10px 15px;
        width: 200px;
        margin-bottom: 50px;
    }
}

.num{
    margin-bottom: 100px;
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        display: none;
    }
    img{
        width: 150px;
    }
    .uber{
        width: 80px;
    }
}



    .steps-grid{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 50px;
    }

    .explanation{
    h1{font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        line-height: 28px;
    }
    a{
        padding: 15px;
        width: 150px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

    .plans{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    img{
        width: 80px;
    }
}

    .explore{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        padding-right: 0;
        padding: 50px 10px;
        margin: 0;
        h1{
            font-size: 34px;
            line-height: 40px;
        }
        p{
            font-size:16px ;
            line-height: 18px;
        }
        a{
            margin-bottom: 50px;
            padding: 15px;
        }
    }

    .right-sec{
        img{
            width: 250px;
        }
    }
    
    .text{
        text-align: center;
        padding: 0 20px;
        h4{
            font-size: 20px;
            line-height: 32px;
            font-weight: 700;
        }
    }

    .props{
        margin: 50px;
        img{
            width: 70px;
        }
    }

    .overlay-text{
        position: relative;
        bottom: 10rem;
        left: 0;
        background-color: #2C2926;
        color: white;
        font-weight: 400;
        padding: 40px 10px;
        h1{
            font-size: 34px;
            line-height: 40px;
            padding-right: 100px;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            padding: 0;
        }
        a{
            font-size: 14px;
            line-height: 24px;
        }
    }

    .impact-card{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }

    .impact{
        padding: 50px 0;
}

    .impact-text1{
        font-size: 18px;
        line-height: 52px;
        padding: 70px 4px;
}
    .impact-pop{
        h1{
            font-size: 80px;
            line-height: 80px;
            margin-top: 30px;
        }
        h3{
            font-size: 28px;
            line-height: 32px;
            margin-top: 40px;
        }
        p{
            padding: 0;
            line-height: 28px;
            margin-top: 20px;
        }
}

    .mockup-section{
        background-color: #FF4300;
        margin:0;
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        padding: 10px;
        position: relative;
    }

    .mockup-img{
        position: absolute;
        bottom: -60%;

        img{
            width: 200px;
        }
    }

    .mockup-card{
        margin: 50px 0 250px 0;
    }

    .mockup-text{
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: fit-content;
        h1{
            font-size: 34px;
            line-height: 40px;
            font-weight: 400;
            margin-bottom: 20px;
            margin-top: 0;
        }
        p{
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        a{
            margin-bottom: 20px;
        }
    }

    .props{
        display: flex;
        flex-wrap: wrap;
    }

    .info-img{
        margin: 0;
    }


    .info-card{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0 10px;
    }

    .info-text ul{
        display: flex;
        flex-direction: column;
        li{
            margin: 10px 0;
        }
    }

    .region{
        text-align: start;
        margin-top: 50px;
        font-size: 12px;
        line-height: 14px;
    }

    .CR-page{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .CR-list ul li:first-child{
        list-style: none;
        margin: 0;
    }
}